body{
    background-color: #ffffcb;
    width: 60%;
    margin: 50px auto;
    background-image: url(torta_limao_backS.png), url(torta_limao_backI.png);
    background-repeat: repeat-x;
    background-position: top,bottom;
}
h1{
    color: #FF9900;
}
h2{
    background-color: #FF9900;
    color: white;
    margin-bottom: 0;
    padding: 3px;
}
ul{
    background-color: #daff95;
    margin-top: 0;
    border-radius: 0 0 30px 30px;
}

ul li{
    list-style: none;
    list-style-image: url(torta_limao_item1.gif);
}
ul ul li{
    list-style-image: url(torta_limao_item2.gif);
}
ul ul ul li{
    list-style-image: url(torta_limao_item3.gif);
}
